/*
===== FONTS ===== 
*/

@font-face{
	font-family: 'etna';
	src: url('fonts/etna-free-font.otf');
    font-weight: normal;
    font-style: normal;
}

/*
===== GENERAL ===== 
*/

body{
	font-family: 'etna', Arial, sans-serif;
}

.full_height{
	height: 100%;
}

/* ----- buttons ----- */

.btn, .btn-flat{
	padding: 0 1rem;
	text-transform: lowercase;
}

/* ----- links ----- */

section.row{
	margin-top: 10px;
	margin-bottom: 30px;
}

.framed_link{
	display: inline-block;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	font-size: 2rem;
}

.pink_link{
	color: #f98686;
	border: 5px solid #f98686;
}

.light_blue_link{
	color: #09d3f2;
	border: 5px solid #09d3f2;
}

.lowercase{
	text-transform: lowercase !important;
}

/* ----- images ----- */

.profile_picture{
	max-width: 140px;
	border-radius: 50%;
}

/* ----- pagination ----- */

.pagination li{
	vertical-align: middle;
    height: 2rem;
}

.pagination li a{
	font-size: 1rem !important;
	line-height: 1.5rem !important;
}

/* ----- tables ----- */

.table_picture{
	max-width: 100px;
}

td{
	padding: 5px;
}

/* ----- forms ----- */

label{
	padding-left: 10px;
	color: #fff !important;
}

label:not(.label-icon).active {
    font-size: .8rem;
    -webkit-transform: translateY(-170%) !important;
    transform: translateY(-170%) !important;
}

.file-path-wrapper label{
	padding-left: 10.5%;
}

label[for="support_links"]{
	padding-left: 18.5%;
}

[type=checkbox]+label:before, [type=checkbox]:not(.filled-in)+label:after{
	border: 2px solid #fff;
}

[type=checkbox]:checked+label:before{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

input, textarea, select{
	border: 2px solid #fff !important;
	padding-left: 10px !important;
	background-color: transparent;
	margin-bottom: 20px;
}

textarea{
	height: initial;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: rgba(255, 255, 255, .8) !important;
}

input#supports{
	margin-top: 14px;
}

.input-field input[type=submit]{
	min-height: 100% !important;
	height: 100% !important;
	border: none !important;
	font-size: 1.5rem;
}

.input_link{
	height: 2.5rem;
	line-height: 3rem;
	color: #fff;
	text-decoration: underline;
}

.select-wrapper{
	padding-left: 0 !important;
}

.select-wrapper+label{
	top: -17px;
}

.select-wrapper span.caret {
    color: inherit; 
    position: absolute;
    right: 0;
    top: 25%; 
    height: inherit;
    margin: 0 10px 0 0;
    font-size: inherit; 
}

.file-field{
	padding-right: 0px !important;
}

.dropdown-content li>span {
	color: #0097a7;
}

span.character-counter{
	float: none !important;
	margin: 0 0 0 10px;
}

span.compulsory{
	font-size: 1.8rem;
}

/* ----- plugin Datepicker ----- */

.picker__box {
	border: none;
}

.picker__date-display{
	background-color: #00b8d4;
}

.picker__weekday-display{
	background-color: #0097a7;
}

.picker__today, .picker__close{
	color: #0097a7;
}

/*----- colors -----*/

.g-b_gradient{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#09ea98), to(#00b8d4));
}

.g-b_gradient_reverse{
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00b8d4), to(#09ea98));
}

/*
===== MODAL WINDOW ===== 
*/

.modal-overlay{
	opacity: .8 !important;
}

.modal-content{
	padding: 0px !important;
}

/*
===== HEADER ===== 
*/

header{
	color: #fff;
	padding: 30px 7.5%; 
}

nav{
	box-shadow: none;
}

.lead{
	height: 82vh;
}

.admin_lead{
	height: 10vh;
}

nav i.material-icons {
	font-size: 2.5rem;
}

.nav-wrapper{
	vertical-align: middle !important;
}

.nav-wrapper li a{
	margin-top: 6px;
}

.nav-wrapper a{
	font-size: 1.7rem;
	line-height: 54px;
	padding-bottom: 5px;
}

.nav-wrapper a.brand-logo{
	font-size: 2.5rem;
}

/*
===== CONTENT ===== 
*/

.thumbnail img{
	width: 100%;
}

.thumbnail span.see_more{
	font-size: 10.5vw;
	font-family: Times;
	width: 100%;
}

.frontpage_supports img{
	max-height: 120px;
}

/*
===== FOOTER ===== 
*/

footer{
	color: #fff;
	padding: 30px 7.5%; 
	min-height: 100px;
}